.char {
  transition: transform 5s linear;
  visibility: hidden;
}

.ani {
  /* animation-duration: 5s;
  /* animation-name: falling; */
  visibility: visible;
  transform: translateY(280px);
}

/* @keyframes falling {
  from {
    top: 0px;
  }

  to {
    top: 300px;
  }
} */