@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.App {
  min-height: 720px;
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
}

.dark {
  background-color: #282c35;
  color: rgba(255, 255, 255, 0.88);
}

.dark hr {
  background-color: rgba(255, 255, 255, 0.3);
}

.dark .border-theme-1px {
  border: 1px solid #e31b6d !important;
}

.dark .border-theme-2px {
  border: 2px solid #e31b6d !important;
}

.dark .border-bottom-3px {
  border-bottom: 3px solid #e31b6d !important;
}

.light .border-theme-1px {
  border: 1px solid #1ce492 !important;
}

.light .border-theme-2px {
  border: 2px solid #1ce492 !important;
}

.light .border-bottom-3px {
  border-bottom: 3px solid #1ce492 !important;
}